
window.background {
background: rgba(254, 253, 253, 0.9);
border-radius: 0px 0px 7px 7px;
border: none;
color: #171717;
}
.background.csd  { 
background: linear-gradient(45deg, rgba(250,251,254,1) 0%, rgba(252,249,253,0.7) 60%);
border-radius: 0px 0px 5px 5px;
}

.background.csd.df_fadingwindow {background: transparent;}

.background.csd decoration { 
border-radius: 6px 5px 6px 6px;
box-shadow: 3px 4px 22px -6px rgba(0,0,0,0.23);
border: solid 0.5;
border-color: #aaa;
}

.popup.background {
  border-radius: 5px 7px 7px 5px;
  background: #fff;
}
.background.csd.popup menu {background: rgba(255,255,255,0.9);
}
.background.csd.mainwindow {
background: @bg_color;
color: #202020;
border-color: #ebebeb;
border-radius: 0 0 7px 7px;
}
.dialog-vbox {background: @bg_color; border-radius: 0px 0px 7px 7px; color: @text_color;}
.titlebar.default-decoration {border-bottom: solid 0.3;}

.background.csd.rounded {
background: #ebebeb;
color: #202020;
border-color: #ebebeb;
border-radius: 0 0 7px 7px;
}

window.background.csd.rounded stack box.vertical {
background: transparent;
border-radius: 0px 0px 7px 0px;
border-left: none;
border-left-color: #aaa;
color: #000;
}

.background.colored {background: rgba(255,255,255,1)
;}


stack {background: #fff;
border-radius: 0 0 7px 7px;
}


/*****texto general*****/
row label, frame label, tabs tab, button.image-button, stack label, textview text, button.flat.scale, label.fortune.positive, calendar  {
color: @text_color; 
}
textview text selection { background: #008ff8;
color: #fff;
}
/*texto de la barra superior del treeview*/
.dialog-vbox treeview header label {
border: none; background: transparent; box-shadow: 0px 0px;}

/*** texto de los banner de la tienda de aplicacines**/
.horizontal.banner label { color: white;}
.horizontal.banner  .text-button.suggested-action label {color: #000;}

window decoration{
border-radius: 4px 5px 5px 4px;
box-shadow: 3px 4px 22px -6px rgba(0,0,0,0.23);
border: solid 1;
border-color: #aaa;
}

scrolledwindow:selected {
background: #007EFD;
color: #fff;
border-radius: 15px;
}

iconview {
background: #fff;
border-radius: 0px 0px 5px 0px;
}

stack grid  label selection {background: blue;
color: #fff;} 

rubberband {background: rgba(16,129,255,0.4)}

paned.horizontal separator {
padding-top: 1px;
background-image: image(#999999);
min-width: 1px;
}
/***** seprador de algunos recuadros en el centro de configuraciones***/
stack paned.horizontal stack viewport grid separator.horizontal {border: none;
background-image: image(rgba(0,0,0,0));}
}

/************************/

widget.view.welcome {
background: transparent;
color: #353535;
}/*si se cambia algunas ventanas se ven de forma incorrecta*/



stack widget { background: #fff;
color: #646464;
}

flowboxchild widget
{
background: transparent;
}

#.background.csd stack stack grid grid {
background: white;

}

viewport.frame grid frame{
background: #fff;
border-radius: 5px;
box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);

}



/********marlin****/

treeview.view.sidebar.source-list:selected {background: #008ff8;
padding: 2px;
color: white;
padding: 0px 0px 2px;
}

.view.sidebar.source-list {
background: transparent;
padding: 0px 0px 2px;
color: #171717}

/****** separador de treview en files***/

#viewport.frame box  {
border-right: solid 0.3 #000;
}/*erradicado por afectar la apariencia de algunos botones en el centro de configuraciones**/

/**etiquetas de color para files/marlin**/
checkbutton.color-button.red {
  background: #fd625c;
    border-radius: 100px;
      border: none;
        color: #cc3e49;
}

checkbutton.color-button.blue {
background: #58c1fa;
color: #2f96d0;
border-radius: 100px;
border: none;
}

checkbutton.color-button.orange {
background: #fea954;
color: #e1953a;
border-radius: 100px;
border: none;
}

checkbutton.color-button.yellow {
background: #ffd359;
color: #d6b758;
border-radius: 100px;
border: none;
}

checkbutton.color-button.green {
background: #88e16b;
color: #5eca3b;
border-radius: 100px;
border: none;
}

checkbutton.color-button.purple {
background: #d690e6;
color: #b449cc;
border-radius: 100px;
border: none;
}


checkbutton.color-button.brown {
background: #9f8864;
color: #967541;
border-radius: 100px;
border: none;
}



checkbutton.color-button.slate {
background: #6e7e8d;
color: #526373;
border-radius: 100px;
border: none;
}


/************barra / toolbar / heanderbar ***
********************/


dialog headerbar, headerbar.flat, .flat.widget_background headerbar, headerbar, window.clairvoyant headerbar, .badger-headerbar, .aesop-toolbar, .transition headerbar, frame actionbar box  {
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(224,224,224,1) 1%, rgba(201,201,201,1) 97%, rgba(205,205,205,1) 100%);
border-radius: 4px 4px 0px 0px;
padding: 4px 15px;
color: #171717;
border-bottom: solid 1;
border-color: #9d9d9d;
font-weight: 500;
 background-clip: border-box;
}
.background.csd box.dialog-vbox.vertical + headerbar.titlebar {
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(224,224,224,1) 1%, rgba(201,201,201,1) 97%, rgba(205,205,205,1) 100%);
border-radius: 4px 4px 0px 0px;
padding: 4px 15px;
color: #171717;
border-bottom: solid 1;
border-color: #9d9d9d;
font-weight: 500;
 background-clip: border-box;
} 

#headerbar.titlebar {padding: 0px 15}
#headerbar.titlebar combobox{padding: 0px 14; }

/****** toolbar inferiores***/


toolbar.horizontal, actionbar.inline-toolbar revealer box.horizontal, .transition .inline-toolbar  { background: linear-gradient(to bottom, rgba(220, 220, 222, 1), rgba(203, 203, 206, 1));
border-top: solid 0.3 #000;
border-bottom: solid 0.3 #000;
color: black;}
actionbar.inline-toolbar revealer box.horizontal combobox box{ border: none;}

toolbar button.image-button { border: none; background: transparent;}



/******** toolbar inferior con esquinas inferiores redondeadas***/
.dialog-vbox .dialog-action-box {
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(224,224,224,1) 1%, rgba(201,201,201,1) 97%, rgba(205,205,205,1) 100%);
border-radius: 0px 0px 7px 7px;
border-top: solid 0.8;
border-color: #9d9d9d;
}

box.dialog-vbox grid +  .dialog-action-box {
background: @bg_color;
border: none;
}

/******** toolbar inferior con esquin inferior derecha redondeadas***/
.bottom-toolbar.horizontal{
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(224,224,224,1) 1%, rgba(201,201,201,1) 97%, rgba(205,205,205,1) 100%);
border-radius: 0px 0px 7px 0px;
border-top: solid 0.8;
border-color: #9d9d9d;
}




/*******botones cerrar/minimizar/maximizar de la barra****/


window headerbar box.horizontal.left {
background: transparent;
}

window headerbar button.close image {
background: #fe695a;
color: #fe695a;
padding: 0px 0px;
border-radius:25px;
border-color: #d65a54;
}

window headerbar button.maximize image {
background: #21d33f;
color: #21d33f;
padding: 0px 0px;
border-radius:25px;
border-color: #d65a54;

}

window headerbar button.maximize image {
background: #21d33f;
color: #21d33f;
padding: 0px 0px;
border-radius:25px;
border-color: #d65a54;
}

window headerbar button.minimize image {
background: #fbc030;
color: #fbc030;
padding: 0px 0px;
border-radius:25px;
border-color: #d65a54;
}


/******************botones atras y adelanter*****/


#window headerbar button.flat.image-button:last-child {
background: #fbfbfb;
margin: 4px 0px 4px -7px;
border: 1px #c1c0c4;
min-width: 28px;
border-radius:5px;
border: 1px solid #b5b5b5;
color: #838383;
border-radius: 5px 0px 0px 5px
}

#window headerbar button.flat.image-button {
background: #fbfbfb;
margin: 4px 0px 4px -7px;
border: 1px #c1c0c4;
min-width: 28px;
border-radius:5px;
border: 1px solid #b5b5b5;
color: #838383;
border-radius: 0px 5px 5px 0px
}


/*****************botones para intercalar vista en marlin files ****/

window box button.toggle {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
outline-style: solid;
-gtk-outline-radius: 5px;
padding: 5px;
border-color: #000;
border: solid 0.2px;
box-shadow: 0px 0.1px;
}

window box button.toggle:first-child {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
outline-style: solid;
-gtk-outline-radius: 5px;
border-radius: 5px 0px 0px 5px;
border-right: none;
padding: 4px;
}

window box button.toggle:last-child {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
outline-style: solid;
-gtk-outline-radius: 5px;
border-color: #000;
border-left: none;
border-radius: 0px 5px 5px 0px;
padding: 5px;
}

window box button.toggle:first-child:checked {
background: #61616a;
border-color: #000;
border-width: .2px;
border-left-style: solid;
border-radius: 5px 0px 0px 05px;
color: #f1f1f1;
padding: 5px;
}

window box button.toggle:last-child:checked {
background: #61616a;
border-color: #000;
border-width: .3px;
border-left-style: solid;
border-radius: 0px 5px 5px 0px;
color: #f1f1f1;
}

window box button.toggle:checked {
background: #61616a;
border-color: #000;
border-width: .2px;
border-left-style: solid;
color: #f1f1f1;
padding: 5px;
box-shadow: 0px 0.1px;
}

#window  box.linked.horizontal.raised {
background-color: #fbfbfb;
border-radius:5px;
margin: 6px 0px 6px;
color: #838383;
border: 1px solid #b5b5b5;
min-height: 20px;
}
window  box.linked.horizontal.raised {
margin: 6px 0px 6px;
}

/***** barra de direcciones de files/marlin****/


.dialog-vbox +  headerbar entry.pathbar, .pathbar {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
color: #141414;
border-color: #a9a9a9;
border-radius: 5px;
min-height: 24px;
box-shadow: 0px 0.1px 0px rgba(30, 30, 30, 1);
padding: 0px 5px;
margin: -1px 5px; 
border-width: 0.5px;
border-style: solid;
font-weight: 400;
}

.pathbar image {
color: #929292;
}


/*****treview ***/


treeview.view label{
color: #171717;
font-weight: 700;
}
viewport row label, paned list label, viewport grid label{
color: #171717;
}

treeview.view:selected { background: #008ff8;
color: #fff;
}

treeview header button { background: #efefef;
padding:5px;
}
treeview header label { color: #171717;
}

treeview.view  {
background: white;
color: #171717;
}
/**** window notebook tabs ventanas del navegador***/

window paned notebook  tabs grid.horizontal revealer button {
background: transparent;
color: #000;
border-color: transparent;
}

window paned notebook header, notebook header   {
background: #ececed;
border-bottom: solid 1;
border-color: #9d9d9d;

}

window paned notebook  tab widget grid  {
background: #dbdadc;
color: #000;
border-radius: 0px 0px 0px 0px
}


window paned notebook  tab widget grid label{
background: #dbdadc;
color: #202020;
border-radius: 0px 0px 0px 0px
}

window paned notebook  tab:hover widget grid  {
background: #dbdadc;
color: #000;
border-radius: 0px 0px 0px 0px
}


window paned notebook  tab:hover widget grid label{
background: #dbdadc;
color: #202020;
border-radius: 0px 0px 0px 0px
}

window paned notebook  tab:hover widget grid image {
background: transparent;
color: #000;

}


window paned notebook  tabs{
background: #d7d7d7;
color: #000;
}
/* botones del tab*****/
 
window paned notebook header {
background: #d7d7d7;


}

window paned notebook  button {
background: transparent;
color: #000;
border-color: transparent;
}




stack tabs {
background: #E2E2E2;

}



/*********************************************************************/
/*            TERMINAL                                               */
/*********************************************************************/

.terminal-window .dynamic-notebook, .terminal-window {background: #eaeaea;}
.terminal-window notebook header {background:transparent; border-bottom: solid 0.5 #000;}
.terminal-window tab {background: #8d8d94;}
.terminal-window tab label, .terminal-window tab image  {color: #fff;}
.terminal-window decoration {box-shadow: 0px 1px 10px rgba(0,0,0,.5);
}
/****** menu de elementary os*****/

popover,
popover.background {
  padding: 0;
  border-radius: 6px;
  background-clip: border-box;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.03);
color: #000;
}
popover box grid widget grid stack{
border: 1px solid transparent;
}


app-launcher/entry {

background:#000;
}
.menubar.background.panel stack {background: transparent;}

/*********************************************
entrys
**********************************************/

entry  {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-radius: 6px;
padding: 0px 10px;
border: solid 0.2;
color: #1e1e1e;
box-shadow: 0px 0.1px 0px rgba(30, 30, 30, 1);
min-height: 22px;
font-weight: 400;
}

entry.combo  {
border-radius: 5px 0px 0px 5px;
padding: 0px 10px;
margin: 4px -4px 4px 0px;
border-radius: 5px;
border: solid 0.2;
box-shadow: 0px 0.1px 0px rgba(30, 30, 30, 1);
}

entry image {
color: #949494;
}
/*1001*/headerbar entry.search {margin: 15;}
/* evita que se haga grande el headerbar a consecuecia del codigo 1001*/stack + headerbar.titlebar entry {margin: 0px;}

/****se usa para nivelar en la app editor de texto de elementaryos***/
.search-bar {background: @info_bg_color;}
.search-bar flowboxchild:last-child entry {
padding: 0px 0px 0px; }
.search-bar flowboxchild:last-child entry image { 
padding: 3px 0px 7px 9px; }
/**************************/


.search-bar flowboxchild entry.search  {
margin: 0px -1px 0px  5px; 
border-radius: 6px 0px 0px 6px;}

.search-bar flowboxchild button.image-button  {
border-right: solid 0;
border-left: solid 0;
border-radius: 0px;
border-top: solid 0.2;
border-bottom: solid 0.2;
box-shadow: 0px 1px 0px rgba(0, 0, 0 , .1);
}
.search-bar flowboxchild .image-button.toggle  {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-right: solid 0.2;
border-left: solid 0.2;
border-radius: 0px 6px 6px 0px
}
.search-bar flowboxchild button.text-button  {
border-right: solid 0.2;
border-left: solid 0;
border-radius: 0px;
border-top: solid 0.2;
border-bottom: solid 0.2;
box-shadow: 0px 1px 0px rgba(0, 0, 0 , .1);
}

.search-bar flowboxchild button.text-button:last-child  {
border-radius: 0px 6px 6px 0px
}



/*entrada de busqueda en el editor de textos*/

/******* centro de configuraciones****/

.background.csd viewport.frame  list{
background: #fff;
border-radius: 0px 0px 0px 5px;
margin: 1px;
border: none;
}


stack label.h4  {
font-weight: 700;
}

viewport.frame list row {
padding: 1px 6px;

}
viewport.frame list label {
padding: 8px 6px;

}

infobar.horizontal.warning revealer box, infobar.horizontal.info revealer box{
background: rgba(236, 236, 236, 1);
border-bottom: solid 0.3 #000;
color: #9a9a9a;
}

infobar.horizontal.warning revealer box box, infobar.horizontal.info revealer box box {
background: transparent;
border-bottom: transparent;
}

stack stack stack {background: transparent;}

headerbar stack {background: transparent;}

list.sidebar {padding: 10px;}
list.sidebar row {padding: 5px;}

/***** lo use para cambiar el fondo del centro de configuraciones *****
****************************************************************************/

.background.csd stack stack {background: #ececec;
border-radius: 0px 0px 5px 5px;}

/*elimina barra gris en centro de configuracion/energia***
*/
stack grid.vertical grid stack  {background: transparent;}


/******************************************************************************* 
menus
*****/

menuitem.button.flat,
modelbutton.flat, button:link, button:visited, button:link:hover, button:link:active, button:link:checked, button:visited:hover, button:visited:active, button:visited:checked, notebook > header tabs > tab button.flat:hover, notebook > header tabs > tab button.budgie-menu-launcher:hover, notebook > header tabs > tab .budgie-panel button.flat.launcher:hover, .budgie-panel notebook > header tabs > tab button.flat.launcher:hover, notebook > header tabs > tab button.flat:active, notebook > header tabs > tab button.budgie-menu-launcher:active, notebook > header tabs > tab .budgie-panel button.flat.launcher:active, .budgie-panel notebook > header tabs > tab button.flat.launcher:active, notebook > header tabs > tab button.flat:active:hover, notebook > header tabs > tab button.budgie-menu-launcher:active:hover, .app-notification button,
calendar.button, .nemo-window .floating-bar button, calendar.raven-calendar.button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

menuitem.button.flat,
modelbutton.flat {
  transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
  min-height: 26px;
  padding-left: 8px;
  padding-right: 8px;
  outline-offset: -3px;
  border-radius: 5px;
}

menuitem.button.flat:hover,
modelbutton.flat:hover {
  background-color: #444444;
  transition-duration: 50ms;
}

menuitem.button.flat:active, menuitem.button.flat:active arrow, menuitem.button.flat:selected, menuitem.button.flat:selected arrow,
modelbutton.flat:active,
modelbutton.flat:active arrow,
modelbutton.flat:selected,
modelbutton.flat:selected arrow {
  transition: none;
  animation: none;
}

menuitem.button.flat:checked,
modelbutton.flat:checked {
  color: #dedede;
}

menuitem.button.flat:disabled,
modelbutton.flat:disabled {
  color: rgba(222, 222, 222, 0.45);
}

menuitem.button.flat check:last-child,
menuitem.button.flat radio:last-child,
modelbutton.flat check:last-child,
modelbutton.flat radio:last-child {
  margin-left: 8px;
}

menuitem.button.flat check:first-child,
menuitem.button.flat radio:first-child,
modelbutton.flat check:first-child,
modelbutton.flat radio:first-child {
  margin-right: 8px;
}

.popup.background {
  background-color: transparent;
}

.context-menu,
menu,
.menu {
  padding: 6px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #cfcfcf;
}

.csd .context-menu, .csd
menu, .csd
.menu {
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 6px
  color: #000;
}

.context-menu separator,
.csd .context-menu separator,
menu separator,
.csd
menu separator,
.menu separator,
.csd
.menu separator {
  margin: 2px 0;
  min-height: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-color: transparent;
}

.context-menu > menuitem,
menu > menuitem,
.menu > menuitem {
  background: transparent;
  min-height: 12px;
  min-width: 40px;
  padding: 3px 15px;
  text-shadow: none;
color: #000;
}

.context-menu > menuitem:hover,
menu > menuitem:hover,
.menu > menuitem:hover {
  transition: none;
  color: #fff;
 background-color: #0266e2;
}

.context-menu > menuitem:hover arrow,
menu > menuitem:hover arrow,
.menu > menuitem:hover arrow {
  transition: none;
  color: #ffffff;
}

.context-menu > menuitem:hover menu arrow,
menu > menuitem:hover menu arrow,
.menu > menuitem:hover menu arrow {
  color: #242424;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

.context-menu > menuitem:hover menu menuitem:hover arrow,
menu > menuitem:hover menu menuitem:hover arrow,
.menu > menuitem:hover menu menuitem:hover arrow {
  color: #ffffff;
}

.context-menu > menuitem:disabled,
menu > menuitem:disabled,
.menu > menuitem:disabled {
  color: rgba(36, 36, 36, 0.55);
}

.context-menu > menuitem arrow,
menu > menuitem arrow,
.menu > menuitem arrow {
  min-height: 16px;
  min-width: 16px;
  background-color: transparent;
  background-image: none;
  border: none;
  color: #242424;
}

.context-menu > menuitem arrow:dir(ltr),
menu > menuitem arrow:dir(ltr),
.menu > menuitem arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-right: 0;
}

.context-menu > menuitem arrow:dir(rtl),
menu > menuitem arrow:dir(rtl),
.menu > menuitem arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
  margin-left: 0;
}

/*color seleccion del los menus de slingshot/barra de elementaryos*/
.menubar modelbutton:hover {background: @selected_bg_color; border-radius: 2px;}
.menubar modelbutton:hover label {color: @selected_fg_color;}
/*****botones****/

button.image-button.radio {background: #fff; border: solid 0.2 #000;
margin: 0px; }
button.image-button.radio:first-child {border-radius: 5px 0px 0px 5px; padding: 0px 6px;
border-right: none
}
button.image-button.radio:last-child { border-radius: 0px 5px 5px 0px; padding: 0px 6px; }
.image-button widget box, .popup.image-button  {border: none;}

button.image-button.radio:checked {background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
padding: 0px 6px;
margin: 0px; 
color: #fff;}
/*botones de la tienda de aplicaciones*/
row.activatable grid.horizontal.linked  {background: transparent;
padding: 0px;
margin-top: 0;
margin-bottom:0;
border: none;
box-shadow: 0px 0px;
min-height: 22px;
}

row.activatable grid.horizontal.linked button {background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-radius: 5px;
padding:0px;
margin-right: 0px ;
border: solid 0.1;
box-shadow: 0px 0.2px;
min-height: 22px;
}
row.activatable grid.horizontal.linked button label {
min-height: 16px;
padding: 0px;}

row.activatable grid.horizontal.linked button.image-button.toggle box {background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-radius: 5px;
margin-left: 10px ;
padding-left: 5px; ;
min-height: 22px;
}


/* boton recorder*/
.image-button.toggle.text-button.destructive-action {background: linear-gradient(180deg, #ffffff 0.5%, #e55151 2%, #c12121 100%); color: #fff; border: solid 0.5 #880c0c}
.image-button.toggle.text-button.destructive-action label {color: #fff; }

.radio.text-button:checked label {background: transparent;
border: none;
color: #fff;
box-shadow: 0px 0px;}
.radio.text-button label {background: transparent;
border: none;
box-shadow: 0px 0px;}
button.flat {padding: 8px;
margin: 0px 0px 0px 5px;}


.text-button.toggle {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
padding: 4px;}



buttonbox button.text-button {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
box-shadow: 0px 0.1px;
color: #202020;
border: solid 0.2;
}

buttonbox.horizontal.dialog-action-area button.text-button label {padding: 5px;}

button.text-button.suggested-action, button.text-button.destructive-action{
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius:6px;
box-shadow: 0.2px 0.2px 1.px rgba(0,0,0,01);
color: #202020;
padding: 4px 15px

}

paned button {
border-radius: 4px;
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border: solid 0.2;
border-color: #a7a7a7;
padding: 3.5;
color: #414141;
box-shadow: 0px 0.1px 0px;}
}


stackswitcher {
background: transparent;
color: #000;
margin: 5px;
padding: 3px 5px 2px 0px;
min-height: 21px;
}
stackswitcher button:last-child {
border-radius: 0px 5px 5px 0px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
border-color: #a7a7a7;
margin: 4px 0px 4px -7px;
color: #000;
border: solid 1;
border-color: #a7a7a7;

}

stackswitcher button:first-child {
border-radius: 5px 0px 0px 5px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
border-color: #a7a7a7;
color: #000;
border: solid 1;
border-color: #a7a7a7;
padding: 0px 5px;
margin: 4px 6px 4px 7px;
}

stackswitcher button {
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
color: #000;
padding: 5px 10px;
margin: 4px 0px 4px -7px;
border: solid 1;
border-color: #a7a7a7;
font-weight: 600;
}


stackswitcher button:last-child:checked {
border-radius: 0px 5px 5px 0px;
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
margin: 4px 0px 4px -7px;
color: #fff;
font-weight: 600;
border: solid 1;
border-color: #0069FD;
}
stackswitcher button:first-child:checked {
border-radius: 5px 0px 0px 5px;
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
border-color: #a7a7a7;
padding: ;
margin: 4px 0px 4px -7px;
color: #fff;
border-right: solid 1;
border-color: #0069FD;
}

stackswitcher button:checked{
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
color: #fff;
padding: 5px 10px;
margin: 4px 0px 4px -7px;
border: solid 1;
border-color: #0069FD;
}

button.text-button.back-button{
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
margin: 0px 0px 0px; 
padding: 0px 11px;
border: solid 0.2; 
border-radius: 5px;
box-shadow: 0px 0.1px;
font-weight: 400;
}


filechooserbutton combobox box button.combo {background: transparent; 
border: none;
box-shadow: 0px 0px;}


.text-button.circular {
border-radius: 15px;
padding: 4px 9px;
}
buttonbox .text-button {
border-radius: 5px;}





switch {
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  margin: 6px 0;
  border-radius: 50px;
  background-color: #c6c6c6;
  background-clip: padding-box;
  color: rgba(36, 36, 36, 0.3);
  font-size: 0;
}

switch:checked {
  animation: switch_ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1);
  background-color:  #3c89f7;
  color: rgba(255, 255, 255, 0.65);

}

switch:disabled {
  color: rgba(36, 36, 36, 0.15);
  background-color: rgba(36, 36, 36, 0.15);
}

switch slider {
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1), margin 0;
  min-width: 18px;
  min-height: 18px;
  margin: 2px 0 2px 2px;
  border-radius: 50px;
  -gtk-outline-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}


assistant .sidebar {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

assistant.csd .sidebar {
  border-top-style: none;
}

assistant .sidebar label {
  padding: 6px 12px;
}

assistant .sidebar label.highlight {
  background-color: #0266e2;
  color: #ffffff;
}
/***** ventanas de dialogo****/

dialog  
{
background: @bg_color;
color: #202020;
border-radius: 0px 0px 7px 7px;
}
dialog.background.csd {background: @bg_color;}
dialog .dialog-vbox .dialog-action-box {background: transparent;
border: none;}
#dialog .dialog-vbox 
{
margin: -7}

dialog box.dialog-vbox box box box box combobox box  {
margin: 1px}
dialog box.dialog-vbox box box box box entry  {
margin: 6px}
messagedialog .dialog-vbox .dialog-action-box {background: transparent;
border: none;
padding: 10px}

#dialog headerbar, headerbar.flat {
background: #ebebeb;
border-radius: 8px 8px 0px 0px;
color: #202020;
border-color: transparent;
}


dialog button label {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius:6px;
box-shadow: 0.2px 0.2px 1.px rgba(0,0,0,01);
color: #202020;
}


dialog decoration {
border-radius: 8px 8px 8px 8px;
box-shadow: 3px 4px 22px -6px rgba(0,0,0,0.23);
border: solid 1;
border-color: #aaa;
}

grid label {
color: #202020;
}
/*cambia el tamaño de algunos botonos en la heanderbar compacta*/
.compact .text-button {padding: 3px  15px;}




/******* botones de la barra heanderbar*****
*******************************************/

.dialog-vbox + headerbar button.image-button, window headerbar button.image-button, .primary-toolbar button.image-button {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);
padding: 5px 6px;
border-radius: 5px;
border-color: #949494;
border: solid 0.2;
box-shadow: 0px 0.1px;
margin: 10px -1px;
}


window headerbar grid.horizontal.linked.format-bar button.toggle:last-child {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
padding: 2px 7px;
border-radius: 0px 5px 5px 0px;
border-color: #949494;
border: solid 0.2;
} 

window headerbar grid.horizontal.linked.format-bar button.toggle:first-child  {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
padding: 2px 7px;
border-radius: 5px 0px 0px 5px;
border-color: #949494;
border: solid 0.2;
} 

window headerbar grid.horizontal.linked.format-bar button.toggle {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
padding: 2px 7px;
margin: 0px -1px;
border-color: #949494;
border: solid 0.2;
} 


window headerbar grid.horizontal.linked.format-bar button.toggle:last-child:checked {
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
padding: 2px 7px;
border-radius: 0px 5px 5px 0px;
border-color: #949494;
border: solid 0.2;
color: #fff;
} 

window headerbar grid.horizontal.linked.format-bar button.toggle:first-child:checked  {
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
padding: 2px 7px;
border-radius: 5px 0px 0px 5px;
border-color: #949494;
border: solid 0.2;
color: #fff;
} 

window headerbar grid.horizontal.linked.format-bar button.toggle:checked  {
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
padding: 2px 7px;
margin: 0px -1px;
border-color: #949494;
border: solid 0.2;
color: #fff;
}


button.toggle.text-button {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius: 5px;
border: solid 0.3px;
color: #000;

}


button.toggle.text-button:disabled {
color: #9b9b9b;
}

button.toggle.text-button:checked {
background: linear-gradient(to bottom, rgba(104,165,249,1) 5%, rgba(0,115,253,1) 100%);
border-radius: 5px;
border: solid 0.3px;
color: #fff;
font-weight: 600;
border: solid 1;
border-color: #0069FD;
}



/******** progres bars*****
***************************/


progressbar trough progress.pulse {
background: #747474;
border-radius: 10px;
}


progressbar trough {
background: #B8B8B8;
border-radius: 10px;

}

progressbar text {
background: transparent;
border-radius: 10px;

}


progressbar trough progress {
background: #747474;
border-radius: 10px
}

scale.vertical slider {
background: blue;
}

/********* scale codigo extraido de tema macos 5.2
*************************************************/

scale {
  min-height: 10px;
  min-width: 10px;
  padding: 12px; }
  scale fill, scale trough {
    border: none;
    border-radius: 4px;
    background-color: alpha(black, 0.2);
    outline-offset: 2px;
    -gtk-outline-radius: 0; }
    scale fill:disabled, scale trough:disabled {
      background-color: alpha(black, 0.15); }
      scale fill:disabled:backdrop, scale trough:disabled:backdrop {
        background-color: alpha(black, 0.08); }
    scale fill:backdrop, scale trough:backdrop {
      background-color: alpha(black, 0.1); }
  scale highlight {
    border: none;
    border-radius: 4px;
    background-color: #0375F8; }
    scale highlight:disabled {
      background-color: mix(#000000, #F5F5F5, 0.95); }
      scale highlight:disabled:backdrop {
        background-color: mix(#000000, #F5F5F5, 0.98); }
    scale highlight:backdrop {
      background-color: shade(#E4E4E4, 0.7); }
  scale.horizontal indicator {
    min-height: 6px;
    min-width: 1px; }
  scale.horizontal.fine-tune indicator {
    min-height: 3px; }
  scale.vertical indicator {
    min-height: 1px;
    min-width: 6px; }
  scale.vertical.fine-tune indicator {
    min-width: 3px; }
  scale.fine-tune.horizontal {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 14px; }
  scale.fine-tune.vertical {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 14px; }
  scale.fine-tune slider {
    margin: -6px; }
  scale.fine-tune fill, scale.fine-tune trough, scale.fine-tune highlight {
    border-radius: 4px;
    -gtk-outline-radius: 0; }
  scale.fine-tune marks.top {
    margin-bottom: 8px;
    margin-top: -13px; }
  scale.fine-tune marks.bottom {
    margin-top: 8px;
    margin-bottom: -13px; }
  scale.fine-tune marks.top {
    margin-right: 8px;
    margin-left: -13px; }
  scale.fine-tune marks.bottom {
    margin-left: 8px;
    margin-right: -13px; }
  scale slider {
    min-height: 18px;
    min-width: 18px;
    margin: -8px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 2px 1px alpha(black, 0.09);
    color: #000000;
    background-color: shade(#F5F5F5, 1.4); }
    scale slider:disabled {
      background-color: shade(mix(#000000, #F5F5F5, 0.95), 1.05);
      -gtk-icon-shadow: none; }
      scale slider:disabled:backdrop {
        background-color: shade(#FFFFFF, 0.975);
        -gtk-icon-shadow: none; }
    scale slider:backdrop {
      color: #8C8C8C;
      background-color: shade(#E4E4E4, 1.4); }
  scale value {
    color: alpha(currentColor, 0.55); }
  scale marks {
    color: alpha(currentColor, 0.55); }
    scale marks.top {
      margin-bottom: 6px;
      margin-top: -12px; }
    scale marks.bottom {
      margin-top: 6px;
      margin-bottom: -12px; }
    scale marks.top {
      margin-right: 6px;
      margin-left: -12px; }
    scale marks.bottom {
      margin-left: 6px;
      margin-right: -12px; }
/******** separador treeview de app musica***
********************************************/

stack stack box paned{
border-left: solid 0.2 #000;
}

/******** app musica***
********************************************/

headerbar.titlebar stack grid widget{
background: transparent;
}


/***** tab de treeview******/

treeview.view header button {
background: transparent;
border-radius: 0px;
border: 0px;
border-bottom: solid 1px #747474; 
border-left: solid 0.3px #747474; 
}


/****botones inferiores de appmusica******
********************************************/

actionbar button {
background: transaparent;
border: none;
}


/**** en prueba ****/

scrolledwindow.sidebar  {
border-right: solid 0.5 #000;
}

scrolledwindow viewport.frame stack {
border-left: solid 0.5 #000;
}






/**********easyssh**********/

window.background.csd.rounded.flat.easyssh {background: #fff;}
window.background.csd.rounded.flat.easyssh paned box button.toggle.text-button {background: #E3E2E2;
border:none;}
window.background.csd.rounded.flat.easyssh treeview{background: #E3E2E2;}
window.background.csd.rounded.flat.easyssh headerbar{border-bottom: solid 0.2;}
window.background.csd.rounded.flat.easyssh button.popup, window.background.csd.rounded.flat.easyssh button.image-button {
padding: 6px 6px}

window.background.csd.rounded.flat.easyssh button.flat.image-button:last-child {
padding: 0px 10px;
margin: 0px 0px;
min-width: 19px;
border-radius: 5px;
}


/*****
tamaño de letras en calendario
*******/
grid.vertical.view label.h2 {font-size: 40px;
color: black;}

grid.vertical.view label.h3 {font-size: 16px;
color: black;}


/****** app background o fondo*///

.transition stack {
background: linear-gradient(to bottom, rgba(240,240,237,.5) 0%,rgba(248,244,242,.4) 100%);;}
.transition .btn-category label {color: #fff;
}


.horizontal.overlay-bar {background: rgba(0,0,0,0.9)}
.horizontal.overlay-bar label {color: #fff;}

.background.csd scrolledwindow.frame viewport.frame list, .background.csd scrolledwindow.frame {background: #fff; border-radius: 5px; border: solid 0.1 #000; color: }

.background.csd stack box box.vertical frame box stack { background: transparant; border-radius: 0px; border: none}

.background.csd stack box box.vertical frame, .background.csd stack box box box grid  { background: #fff; border: solid 0.3 #000; border-radius: 5px}



/******************
******************
*******************/
spinbutton.horizontal {
background: transparent;
border-radius: px;
color: #202020;
border: solid 0;
border-color: #a2a2a2;
}
spinbutton.horizontal entry {background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-right: none;
padding: 0px 15px ;
margin: 7px -10px 0px 70px;
border: solid 0.2;
}

spinbutton.horizontal button  {
background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border: solid 0.5;
border-color: #a2a2a2;
color: #202020;
margin: 7px 0px 0px 0px}

spinbutton.horizontal button.up {
border-radius: 0px 5px 5px 0px;
}

spinbutton.horizontal button.down {

border-radius: 0px 0px 0px 0px;
border-right: none;}



spinbutton.vertical button.up {
background: white; 
border: solid 0.3; 
border-radius: 5px 5px 0px 0px; 
margin: 0px 5px;
}


spinbutton.vertical button.down {
background: #fff; 
border: solid 0.3; 
border-radius: 0px 0px 5px 5px; 
margin: 0px 5px;
}

spinbutton.vertical entry {
background: white; 
border: solid 0.3; 
border-top: none;
border-bottom: none;
border-radius: 0; 
padding: 0px 5px;
margin: 0px 5px 0px;}
/************************/

.background.csd stack stack frame  {background: #fff;
border-radius: 5px;
border: solid 0.2 #000;}

.background.csd stack  {background: #ececec;
}

.background.csd headerbar stack  {background: transparent;
}
.background.csd viewport stack  {background: transparent;
border: none;
}


menubar {background: #eaeaea;
padding: 1px;}

menubar label {margin: 0px 6px;}

overlay frame box {background: #fff;}

.vertical.dialog-vbox stack {background: transparent;}

.text-button.suggested-action label {border: none; box-shadow: 0px 0px;}


/**** probablemente genere conflictos*****/
/*****************************************/
overlay grid{
background: transparent;
border: none;
}

.image-button.flat.text-button box {background: transparent;}/*fondo de algunos iconos, era blanco**/
/*******************************************/

stack overlay box  box.vertical  button.text-button label  {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius: 5px;
padding: 4px;
border: solid 0.3;
}

/****** calculator****/
.background.csd.rounded button.image-button.h3 {
background: #f38f42;
border: solid 0.5 #000;;
color: #fff;
}

.background.csd.rounded  button.image-button{
background: transparent;
margin: -3px;
border: none;
}

.background.csd.rounded grid button.image-button{
background: #d6d6d6;
margin: -3px;
border: solid 0.5;
}

.background.csd.rounded grid grid {
background: transparent;
margin: -2px;

}

.background.csd.rounded button.image-button.h2 {
background: #f38f42;

}

.background.csd.rounded entry.h2 {
border: none;
background: transparent;
box-shadow: 0px 0px 0px;
font-size: 30px;
}

.background.csd.rounded grid.vertical {
background: linear-gradient(180deg, #ebf3fb 0%, #fdfafe 100%);
}

/***** aun en pruebas ***/
/****arrow de entrada combo***/
combobox box button box arrow {
  color: #ffffff;
  background: linear-gradient(to bottom, rgba(96, 179, 254, 1) 1%, rgba(20, 135, 252, 1) 100%);
  border-color: rgba(41, 119, 214, 1);
  border-top-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.15);
 -gtk-icon-source: -gtk-scaled(url("image/arrow.svg"));
  min-height:22px;
  min-width: 12px;
  padding: 0px 4px;
  margin: 4px 0px 3px 0px;
  border-radius: 0 5px 5px 0;
  border-width: 1px;
  border-style: solid;
  border-left-style: none;
}

#stack box box box box  combobox box button.combo {
background: transparent; 
border: none;
box-shadow: 0px 0px 0px;
}

entry.combo  {
border-radius: 5px 0px 0px 5px;
padding: 0px 10px;
margin: 4px -4px 4px 0px;
border-radius: 5px;
border: solid 0.2;
box-shadow: 0px 0.1px 0px rgba(30, 30, 30, 1);
}

.titlebar combobox arrow{ 
margin: 10px 0px;}
.titlebar combobox cellview {background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
 margin: 11px -3px 11px; 
padding: 0px 11px;
border: solid 0.2; 
border-radius: 5px;
box-shadow: 0px 0.1px;}

/*******botones combo***/


box box box   combobox box button.combo { 
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius: 5px;
margin: 4px 0px 4px 0px;
color: #202020;
border-color: #000;
border: 0.3px;
border-style: solid;
box-shadow: 0px 0.1px;
padding: 0px 0px  0px;;
} 

box box box   combobox box { 
margin: -5px 0px -4px 0px;
padding: 0px 0px  0px;;
} 

box box box box box combobox box button.combo { 
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);;
border-radius: 5px;
margin: 0px 0px 0px 0px;
color: #202020;
border-color: #000;
border: 0.3px;
border-style: solid;
box-shadow: 0px 0.1px;
padding: 0px 0px ;
} 

box box box box box combobox box  { 
margin: -5px -4px -5px -1px;
padding: 0px 4px;
}

.inline-toolbar button.combo  box cellview,  grid grid combobox button.combo box cellview, buttonbox.horizontal.dialog-action-area combobox .combo cellview  { background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
 margin: 4px -2px 4px; 
padding: 0px 6px;
border: solid 0.2; 
border-radius: 5px;
box-shadow: 0px 0.1px;
}  
stack grid paned stack grid combobox box button.combo {background: transparent; border: none; box-shadow: 0px 0px;}

/*doble boton*/
.dialog-vbox button.combo{background: transparent; border: none; box-shadow: 0px 0px;} 
/////******
botones de centro de confirguracion
******/
viewport combobox box button { border: solid 0.1;
box-shadow: 0px 1px 0px rgba(0,0,0,0.1)}
viewport combobox box {margin: -2px -3px -0px 0px;}

viewport combobox box button arrow {margin: -2px -2px -5px}

viewport grid grid grid button.combo  box cellview, viewport grid grid button.combo  box cellview {background:  transparent;
padding: 0px;
margin: 1px 0px -2px;
box-shadow: 0px 0px 0px;
border: none;
}

stack grid button.combo cellview, .background.csd.rounded box combobox cellview, .dialog-vbox combobox box cellview  {background: linear-gradient(180deg, #F0F0F0 1%, #FBFBFB 2%, #f1f1f1 100% );
border-radius: 5px;
min-height: 22px;
margin: 4px -5px 4px 4px;
border: solid 0.2 #000;}




/****************/
.background.csd box.vertical statusbar {
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(224,224,224,1) 1%, rgba(201,201,201,1) 97%, rgba(205,205,205,1) 100%);
border-radius: 0px 0px 7px 7px;
margin: -6px -10px; 
padding: 7px;
color: #171717;
border-top: solid 0.8;
border-color: #9d9d9d;
font-weight: 400;
}




overlay widget.colored  {background-image: image(#00adff);
border-radius: 5px;
}

overlay widget.colored label, overlay widget.colored image {color: white;}


/******scrollbar*****/
scrollbar {background: rgba(0,0,0,0.1);}

scrollbar.dragging slider {background-image: image(#585858);}

scrollbar.vertical contents trough slider {  min-width: 6px;
  min-height: 4px;
  margin: -1px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #d4d4d4;}
  
  scrollbar button {background: transparent;
border: none;
box-shadow: 0px 0px;
}
  
  
  /******** barra de elementaryos*****/
  .df_fadingwindow headerbar { background: linear-gradient(to bottom, rgba(248,248,248,0.9) 0%, rgba(248,248,248,0.6) 85%, rgba(0,0,0,0.7) 86%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0) 100%);
margin: 0px -50px 0px 0px;
}


overlay box grid {
background: transparent; 
border: none;
}


notebook.frame stack box {
background: white;
border: solid 0.3;
border-top: none;
}


flowboxchild .category {border-radius: 8px; border: solid 0.2; background: transparent;}


/***spinner***/
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

spinner:checked:disabled {
  opacity: 0.5;
}

/***** tooltip****/
tooltip.background, tooltip.background.csd{background: rgba(255,255,255,0.9);
border-radius: 100px;
border: none;
font-weight: 500;
color:  #1a1a1a;
}
tooltip.background label, tooltip.background.csd label {padding: 0px 14px;
}

tooltip.background decoration, tooltip.background.csd decoration {
border-radius: 100px;
border: none;
box-shadow: 1px 2px 12px rgba(0,0,0,0.2);
}

/***posible conflicto**/
.background.csd grid .dynamic-notebook {background: linear-gradient(to bottom,  #bfbfbf 0%,  #b7b7b7 4%);
}
tab.reorderable-page:checked  {background: linear-gradient(180deg, #d5d5d5 0%,  #cdcdcd80%);}
tab.reorderable-page label { padding: 0px 10px;}

box.dialog-vbox filechooser paned button {background: #ebebeb;}
/** mojara la vista de la app photos***/
paned.vertical treeview.view.source-list  {padding: 0px 0px 5px;
border-radius: 0px 0px 0px 7px;}
paned.vertical treeview.view.source-list:selected  {border-radius: 0px 0px 0px 0px;}
paned.vertical scrolledwindow { background: white; border-radius: 0px 0px 7px 7px; border: none;}




/***se añade para redondear una esquina de files/marlin***/
paned widget notebook stack widget  {background: transparent;}


/*****gestor de archivadores***/
.csd scrolledwindow treeview header button, .primary-toolbar {background: @bg_color;}
.primary-toolbar button.image-button {
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(241,241,241,1) 100%);
padding: 1px 1px;
border-radius: 5px;
border-color: #949494;
border: solid 0.2;
box-shadow: 0px 0.1px;
min-height: 24px;
min-width: 24px;
}
.primary-toolbar entry {
margin:6px;}


/* default color scheme */
@define-color bg_color #ebebeb; /**/
@define-color fg_color #4c4c4c;
@define-color base_color #ffffff;
@define-color text_color #3e3e3e; /**/
@define-color selected_bg_color #008ff8; /**/
@define-color selected_fg_color #fefefe;  /**/
@define-color tooltip_bg_color #ffffff;
@define-color tooltip_fg_color #4c4c4c;
@define-color unfocused_bg_color #e4e4e4;
@define-color unfocused_fg_color #8c8c8c;

/* dark color scheme */
@define-color dark_bg_color #e0dee1;
@define-color dark_fg_color #4c4c4c;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* global unfocused color scheme */
@define-color theme_unfocused_bg_color @unfocused_bg_color;
@define-color theme_unfocused_fg_color @unfocused_fg_color;

/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (58, 135, 173);
@define-color info_bg_color rgb (215, 215, 215);
@define-color warning_fg_color rgb (192, 152, 83);
@define-color warning_bg_color rgb (252, 248, 227);
@define-color question_fg_color rgb (214, 73, 55);
@define-color question_bg_color rgb (252, 229, 213);
@define-color error_fg_color rgb (185, 74, 72);
@define-color error_bg_color rgb (242, 222, 222);
@define-color link_color #fc6f5d;
@define-color success_color #53a93f;
@define-color warning_color #f57900;
@define-color error_color #cc0000;

/* widget colors */
@define-color titlebar_bg_color @dark_bg_color;
@define-color titlebar_fg_color @dark_fg_color;
@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;
@define-color toolbar_bg_color @dark_bg_color; /*@theme_bg_color;*/
@define-color toolbar_fg_color @dark_fg_color; /*@theme_fg_color;*/
@define-color menu_bg_color @base_color;
@define-color menu_fg_color @fg_color;
@define-color panel_bg_color #f5f5f5;
@define-color panel_fg_color @dark_fg_color;

/* osd */
@define-color osd_base @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_bg alpha(@osd_base, 0.8);

/* lightdm greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;

/* window manager colors */
@define-color wm_bg @titlebar_bg_color;
@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @selected_bg_color;
@define-color wm_icons_focused_pressed shade(@selected_bg_color, 0.8);
@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@selected_bg_color, 0.8);



